html {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0;
  background: #6A6363;
}
body {
  background: #181717;
  color: rgba(249, 249, 249, 0.80);
  font-family: cursive;
  border-radius: 5px;
  line-height: 2;
  letter-spacing: .1rem;
}
h1 {
  font-family: 'Oswald', sans-serif;
  padding: 2rem 1rem 0;
  font-size: 2.5rem;  
}
h1, #quote {
  text-align: center;
}
#quote {
  min-height: 5rem;
  padding: 0 1rem;
}
.author {
  text-align: right;
  font-family: 'Indie Flower', cursive;
  font-weight: 700;
}
#actionBtns {
  text-align: center;
  padding-bottom: 1rem;
}
.btn {
  border-radius: 3px;
  color: #181717;
  display: inline-block;
  margin: 0 1rem;
  padding: .5rem .8rem;
  background: rgb(249, 249, 249);
  box-shadow: rgba(106, 99, 99, 0.91) .5px -1px .5px 0;
  text-shadow: rgba(24, 23, 23, 0.74) .5px -.5px;
}
.btn:hover {
  background: rgba(249, 249, 249, 0.9); 
  cursor: pointer;
}
